$breakpoint-smartphones: 300px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-lg-desktop: 1200px;
$breakpoint-xl-desktop: 2000px;

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-smartphones) { 
    body {
        background-size: 373%; 
        background-position:50% 50%; 
        background: fixed center no-repeat cover;
    }
    #navbar #navbar-ul > li > a {
        font-size: 13px;
    }
    
    #card{
        width: 80%;
    }
    #results{
        flex-direction: column;
    }
    .stars {
        width: 40%;
    }
    
    .flex2 {
        flex-direction: column;
    }
    .item {
        width: 100% !important;
    }
    .flex3 {
        display: block;
    }
    .litools {
        display: none;
    }
    #card2 {
        height: auto;
    }
    .fond{
        background-image: none;
    }
    #card2 {
        background-image: none;
       
    }
    footer {
        position: absolute; bottom: -10vh;
    }
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-tablet) { 
    body {
        background-size: 155%; 
        background-position: 50% 50%; 
        width: 100%;
        
    }
    #navbar #navbar-ul > li > a {
        font-size: 1em;
    }
    #card{
        width: 40%;
    }
    #results{
        flex-direction: row;
    }
    .stars {
        width: 40%;
    }
    .flex2 {
        flex-direction: row;
    }
    .item {
        width: 50% !important;
    }
    .flex3 {
        display: flex;
    }
    .litools {
        display: inline;
    }
    #card2 {
        height: 90%;
    }
    
    footer {
        position: absolute; bottom: -30vh;
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-desktop) {
    body {
        background-size: 130%; 
        background-position: 50% 50%; 
        width: 100%;
        
    }
    #navbar #navbar-ul > li > a {
        font-size: 1em;
    }
    #card{
       width: 30%;
   }
   #results{
    flex-direction: row;
    }
    .stars {
        width: 20%;
    }
    .flex2 {
        flex-direction: row;
    }
    .item {
        width: 50% !important;
    }
    .flex3 {
        display: flex;
    }
    .litools {
        display: inline;
    }
    #card2 {
        height: 90%;
    }
    footer {
        position: absolute; bottom: -10vh;
    }
    
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-lg-desktop) { 
    body {
        background-size: 130%; 
        background-position: 50% 50%; 
    
    }
    #navbar #navbar-ul > li > a {
        font-size: 1em;
    }
    #card{
        width: 30%;
    }
    #results{
        flex-direction: row;
    }
    .stars {
        width: 20%;
    }
    .flex2 {
        flex-direction: row;
    }
    section {
        margin-bottom: 2vh;
    }
    .item {
        width: 50% !important;
    }
    .flex3 {
        display: flex;
    }
    .litools {
        display: inline;
    }
    #card2 {
        height: auto;
    }
    footer {
        position: absolute; bottom: -10vh;
    }
    
}

@media (min-width: $breakpoint-xl-desktop){

    body {
        background-size: 120%; 
        background-position: 50% 50%; 
    
    }
    #navbar #navbar-ul > li > a {
        font-size: 1em;
    }
    #card{
        width: 30%;
    }
    #results{
        flex-direction: row;
    }
    .stars {
        width: 20%;
    }
    .flex2 {
        flex-direction: row;
    }
    section {
        margin-bottom: 2vh;
    }
    .item {
        width: 50% !important;
    }
    .flex3 {
        display: flex;
    }
    .litools {
        display: inline;
    }
    #card2 {
        height: auto;
    }

    footer {
        position: absolute; bottom: -2vh;
    }
    

}
